body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #3498db;
    text-align: center;
}

.theme-selector {
    margin-top: 10px;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 20px;
    width: 300px;
    transition: transform 0.2s, filter 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    margin: 10px 0;
    color: #bbbbbb;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.card.dimmed {
    filter: blur(5px) grayscale(70%);
}
/* From Uiverse.io by csozidev */ 
/* Minecraft switch made by: csozi | Website: english.csozi.hu*/

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-flex;
    /*display: inline-block;*/
    width: 4em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 1;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .off {
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    background-color: white;
    transition: .4s;
    image-rendering: pixelated;
    opacity: 1;
  }
  
  .on {
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    background-color: white;
    transition: .4s;
    image-rendering: pixelated;
    opacity: 0;
  }
  
  .switch input:checked + .slider {
    background-color: #ccc;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  .switch input:checked ~ .off {
    transform: translateX(2em);
  }
  
  .switch input:checked ~ .on {
    transform: translateX(2em);
    opacity: 1;
  }